<h1>
Reddish
</h1>
<% @stories.each do |story| %>
  <h3 class='votes_count' data-id='<%= story.id %>'><%= story.points %></h3>
  <%= button_to 'Upvote', story_votes_path(story, up: true), remote: true %>
  <%= button_to 'Downvote', story_votes_path(story, up: false), remote: true %>
  <h2><%= story.title %></h2>
  <p><%= story.link %></p>
  <p><%= story.user.email %></p>

  <%= link_to 'Edit story', edit_story_path(story) %>
  <%= link_to 'Delete', story_path(story), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br>
<%= link_to 'Add a story', new_story_path %>